.musics-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.album-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.album-container h4, p {
  margin: 3px;

}
