body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(0deg, rgb(106, 11, 11), rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  color: wheat;
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .container-header {
  background-color: greenyellow;
} */

